config/
.*
!/.gitignore

# Don't track these files
.cache-StriderKeni
*.pyc
*.DS_Store
dwh_init.cfg
*.ipynb

# Compiled source #
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages #
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
